<link rel="stylesheet" href="stylesheets/style.css">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@700&display=swap" rel="stylesheet">
    <title>Portfolio</title>
</head>
<body>
    <div class="preload">
        <video   autoplay  loop muted playsinline >
            <source src="running man.mp4" type="video/mp4">
            
        </video>
    </div>
    
    <section class="header">
        <nav>
            <h1 class="logo">LS.</h1>  
            <ul class="nav-menu">
                <li> <a href="#" class="nav-link">Home</a></li>
                <li> <a href="#" class="nav-link">About</a></li>
                <li> <a href="#" class="nav-link">Projects</a></li>
                <li> <a href="#" class="nav-link">Contact</a></li>
            </ul>
            <div class="hamburger">
              <span class="bar"></span>
              <span class="bar"></span>
              <span class="bar"></span>
            </div>
        </nav>
        <div class="title">
            <h1>I'm Luna Suthar</h1>
            <p>A Full Stack Web Developer.</p>
        </div>
    </section>
    <main>        
        <h2>Projects</h2>
        <a href="https://mylibrary1234.herokuapp.com/">Project 1</a>
        <i class="bi bi-123"></i>
    </main>
    <script src="javascript/script.js"></script>
</body>
</html>



